.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 20px;
}

.grid-item {
    font-size: 30px;
    text-align: center;
}

img{
    height: 300px;
    width: 250px;;
}

h5{
    color: rgba(133, 110, 107, .9);
}

h6{
    color: #e7b56e;
}

.img-top{
    display: none;
}

.image2:hover {
    content: url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1651667722601-ZTWT3F2WN8LPPE1Y7VLR/Screen+Shot+2022-05-04+at+10.26.35+pm.png?format=1500w");
}

.image4:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1640772592368-ABSVRCPFJA7ND113MTAH/day+2.jpg?format=1500w");
}

.image5:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1640767011983-JHRECB0SO5CKU88WRRQO/%2522Oasis%2522%2BUpload.jpg?format=1500w");
}

.image7:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641166922735-WD27ZPALECP68U0QPT96/Screen+Shot+2021-12-29+at+9.03.50+pm.png?format=1000w")
}

.image8:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1633608387100-EIMAH6K1JWVV4YGA6AFD/Symphony.jpg?format=1000w")
}

.image11:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1636429249983-6YPU3JOL4K8ZPNP6IIDO/sf5.jpg?format=1000w")
}

.image14:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1629417728908-LSD37JL95SONWVORRK9P/NEXT+STEP.jpg?format=1500w")
}

.image1-t:hover {
    content: url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1637462869061-2D6LBHI5OTG8PC1VF6K4/Lion+tapestry+1.jpg?format=1000w")
}

.image2-t:hover {
    content: url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1644282500488-SL8Q8YVZ31HV8LCO2C5I/Screen+Shot+2022-02-08+at+12.04.36+pm.png?format=1000w")
}

.image3-t:hover {
    content: url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1628600093733-UTGBUSCED0YHYQ3TGF1A/unnamed-2.jpg?format=1000w")
}

.image4-t:hover {
    content: url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1637462276558-TV08I7YB34J6SUTGQ7CR/Equinox+tapestry+3.jpg?format=1000w")
}

.image5-t:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1637462013970-42WFG4MWSR0Z9H1DWJDZ/Embrace+tapesry+2.jpg?format=1000w")
}

.image1-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641616697274-HOWICWZXEJK4QRUCQPGQ/Screen%2BShot%2B2022-01-08%2Bat%2B2.07.25%2Bpm.jpg?format=1500w")
}

.image2-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1651738283942-RZSM5ZH7T8UQGMAXCJZI/Simple+Sweetness+Print.jpg?format=1000w")
}

.image3-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1653801108160-O7EHB24IH8UF4FQT0708/Screen+Shot+2022-05-29+at+3.09.39+pm.png?format=1000w")
}

.image4-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1653801651728-UVMP4G21B5369JQKIBT7/Radiance+upload.jpg?format=1000w")
}

.image5-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1651738165579-D9A3DO52IMUTW2QA3P8W/Triumph+Print.jpg?format=1000w")
}

.image6-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1647517535350-E1BD7YMGYWRKKX6BS932/Screen+Shot+2022-03-17+at+10.44.19+pm.png?format=1000w")
}

.image7-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1651738230545-AE0JQQAAF5MXCDF2OCDW/Daydreamer+Print.jpg?format=1000w")
}

.image8-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1642129093712-QFXTINGFXIJIKQO37R3X/unnamed-39.jpg?format=1000w")
}

.image9-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1642153004212-C6A7UZIP8H3X2PVFFU90/unnamed-86.jpg?format=1000w")
}

.image10-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641544468600-2O4W37CPCLFUAV9U7FEJ/unnamed-42.jpg?format=1000w")
}

.image11-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1653801494104-F6FOW7KR0FKZAXHZ6TTU/Screen+Shot+2022-05-29+at+3.10.23+pm.png?format=1000w")
}

.image12-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641616867207-RUJ0GW6935O96V1KBOUI/unnamed-29-1.jpg?format=1500w")
}

.image13-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641879594471-9Z4EL3RPCCXTR1NJMDWK/Sprint%252BTide%252Bprint.jpg?format=1000w")
}

.image14-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641442811325-OK2KZBT9E2ND8VZ1A9GD/unnamed-30-2.jpg?format=1000w")
}

.image16-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1647518268290-SOCJFDDWTGHI1EH6HVQP/Screen+Shot+2022-03-17+at+10.53.26+pm.png?format=1000w")
}

.image17-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641548483072-T0OZED7S3QW2D2DTOBRA/unnamed-44.jpg?format=1000w")
}

.image18-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1641548398365-9GNX4U0LNN00OJ5JKNDS/intro%252B1.jpg?format=1000w")
}

.image19-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1642154233634-IYVT661TY1FXZVJZ02PI/unnamed-65.jpg?format=1000w")
}

.image20-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1650503895052-TZJSAHWTV284CRBGK3O1/Photo+12-4-2022%2C+4+00+39+pm.jpg?format=1000w")
}

.image21-p:hover{
    content:url("https://images.squarespace-cdn.com/content/v1/6110ebaa24fd1f061059178d/1647518999494-FJCTGG733SDN5Z8ATB3V/Screen+Shot+2022-03-17+at+11.06.17+pm.png?format=1000w")
}
